//- ====================
//- aurinko: icon
//- 30-07-2020: sashakasha
//- --------------------
//- Icon
//- ====================

mixin icon(name)
    +b('i').icon(class!=attributes.class, class=`-icon-${name}`)
