//- ====================
//- aurinko: title
//- 16-07-2020: sashakasha
//- --------------------
//- Title
//- ====================

mixin title(type, title)
    +b(type).title(class!=attributes.class) !{title}
        block