//- ====================
//- Project: 404
//- 00-00-2017: 
//- --------------------
//- 404 страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = '404'

//- Модифицируем head
block head
    - var pageTitle = 'Страница не найдена';
    link(rel="apple-touch-icon" sizes="76x76" href=".././images/favicon/aurinko/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href=".././images/favicon/aurinko/ofavicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href=".././images/favicon/aurinko/favicon-16x16.png")
    link(rel="manifest" href=".././images/favicon/aurinko/site.webmanifest")
    link(rel="mask-icon" href=".././images/favicon/aurinko/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="theme-color" content="#ffffff")
//- Выводим content
block content
    