
//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'pebbles';
    - var pebbles = true;
    - var aurinko = false;

//- Модифицируем head
block head
    - var pageTitle = 'Pebbles';
    - var pebbles = true;
    link(rel="apple-touch-icon" sizes="76x76" href=".././images/favicon/pebbles/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href=".././images/favicon/pebbles/ofavicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href=".././images/favicon/pebbles/favicon-16x16.png")
    link(rel="manifest" href=".././images/favicon/pebbles/site.webmanifest")
    link(rel="mask-icon" href=".././images/favicon/pebbles/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="theme-color" content="#ffffff")
    title Turn Slack threads into prioritized tasks | Pebbles
    meta(name="description" content="Pebbles enables Slack users to transparently manage development and delivery of products. Track and prioritize threads directly within Slack.")

//- Выводим content
block content
    include section/assistant.pug
    include section/how-it-works.pug
    include section/ui-kit/title.pug
    include section/features.pug
    include section/services.pug

    +b.intro.--pebbles
        .b-container
            +e.wrapper
                +e.desc-wrapper
                    +e.desc
                        +title('h1', 'Turn Slack threads into prioritized tasks').--h1.--pebbles.--intro.--intro-pebble
                        +e.text
                            p Track and prioritize threads directly within Slack. Pebbles enables Slack users to transparently manage development and delivery of products.
                        include section/ui-kit/button.pug
                        +button('', true, 'https://app.threadbot.io/install').--color.--color-icon.--pebbles
                            include section/ui-kit/icon.pug
                            +icon('figure').--figure
                            | Add to Slack
                +e.image-wrapper
                    +e('img').image.--pebble(src='/images/inhtml/computer.svg')
    .b-hero
        .b-hero__sub
            img.b-hero__cache-top(src='/images/inhtml/arc.png', alt)
            .b-container
                +assistant({
                    title: 'Never lose the thread of conversation again',
                    type: 'h2',
                    title_mod: '--h2',
                    mark: 'the thread of conversation again',
                    text: 'Love Slack threads, but hate getting lost in all the updates? Relax, Threads got this. It’s your team’s intelligent messaging assistant.',
                }).--pebbles.js-mobile-open

    +features({'items': [{
            'src': '/images/inhtml/pebbles-akk/prioritize-1.png',
            'mod': '--calendar',
            'title': 'Simple thread management.',
            "lists": ['Tired of getting lost in an ocean of thread notifications?','Sick of losing track of all your threads?', 'So are we. Make decision faster with Pebbles prioritization.', 'Turn Slack threads into actionable tasks in seconds.', 'Work on thread prioritization across all channels.','Track your tasks real-time.']
        },{
            'src': '/images/inhtml/pebbles-akk/sorted-2.png',
            'mod': '--email',
            'title': 'Manage entire projects inside Slack.',
            "lists": ['Never leave Slack to get work done.','No more switching between apps to move forward on your project.','Assign, schedule and complete tasks right from Slack.','Use simple Slack comments from within comments in threads.']
        },{
            'src': '/images/inhtml/pebbles-akk/thread-3.png',
            'mod': '--contacts',
            'title': 'Prioritize, or snooze. You choose.',
            "lists": ['Not all threads are equal.','Now you can prioritize each one so you know what to tackle first. Overwhelmed?','Hit the snooze option.','Share your thread priorities with your team to sync your efforts.']
        },{
            'src': '/images/inhtml/pebbles-akk/snippets-4.png',
            'mod': '--tasks',
            'title': 'Get sorted.',
            "lists": ['Go way beyond the default "All Pebbles" view.','Zero in on what you want fast with Pebbles rich thread sorting options.','Sort by channel, recent activity, priority (yours or others) and more.']
        },{
            'src': '/images/inhtml/pebbles-akk/prioritize-1.png',
            'mod': '--calendar',
            'title': 'Complete inbox integration.',
            "lists": ['Constantly toggling back and forth between Slack and your inbox?','Pull your inbox into a private channel and reply to emails right from Slack.','See related emails with one click.','Connect as many inboxes as you want.','Pebbles also allows you to send and receive emails right from Slack. ','Ensure continuity of conversations in the thread panel.']
        },{
            'src': '/images/inhtml/pebbles-akk/sorted-2.png',
            'mod': '--email',
            'title': 'Thread your email into Slack.',
            "lists": ['Are you copy-pasting emails to share with colleagues?','Collaborate with your teammates on external messages directly from Slack.','Use the fully integrated email box to assign tasks based on emails.','Pebbles starts a new thread for each email snippet or attachment you share, keeping things focused and easily trackable.','Assign email to the right person and start collaborating instantly.']
        },{
            'src': '/images/inhtml/pebbles-akk/thread-3.png',
            'mod': '--contacts',
            'title': 'Review team workloads.',
            "lists": ['Status tracking, automated.',' No longer chase people for status updates.','Manage your team workload directly from Slack.','Real-time notifications to help you track updates.','Track and assign tasks, directly from Slack.']
        },{
            'src': '/images/inhtml/pebbles-akk/snippets-4.png',
            'mod': '--tasks',
            'title': 'Break silos between teammates.',
            "lists": ['Quickly see all threads you and your teammates work on.','Pebbles gives your team a hub to see a complete view of tasks assigned to them, across many projects. ','Everyone on your team can assign, edit, comment, complete and change tasks directly inside Slack.']
        }]
    }).--pebbles

    .b-hero
        .b-hero__sub
            img.b-hero__cache-top(src='/images/inhtml/arc.png', alt)
            +services({'items': [{
                    'src': '/images/inhtml/info-block2.svg',
                    'mod': '--chat',
                    'title': 'Simple signup',
                    'text': '<li>Simple installation from your Slack account. No account creation, passwords or logins.</li><li>One price for all, see our <a class="b-link" href="https://aurinko.io/pebbles/pricing">pricing page.</a></li>'
                },{
                    'src': '/images/inhtml/info-block1.svg',
                    'title': 'Manage entire projects inside Slack.',
                    'text': '<li>Need help? You can send a report request to the Pebbles team by typing your question in the Pebbles app channel.</li><li>If you need assistance getting Pebbles installed, you can reach us at: <a class="b-link b-link--email-stroke" href="mailto:support@pebbles.io">support@pebbles.io</a></li>'
                }]
            }).--pebbles
    
    +b.wrap-how
        +how-it-works({
            title: 'Easy to install. Hard to imagine going without.',
            title_mod: '--page-pebbles --assistant',
            text: 'Install Threads right now to supercharge Slack threads and work happier. Click the install button below (an admin user needs to do the initial install), then follow these steps:',
            'items': [{
                'number': '1',
                'text': 'Install Pebbles <a class="b-link b-link--mark" href="https://slack.com/apps/A6WF338RW-threads">here</a>. <span class="appeald">Please note that the initial install needs to be done by an admin.</span>'
            },{
                'number': '2',
                'text': 'Invite <span class="mark-color">@threads</span> to public channel(s) to track your internal threads.'
            },{
                'number': '3',
                'text': 'Use the <span class="mark-color">/threads</span> command to find and prioritize your active Slack threads.'
            },{
                'number': '4',
                'text': 'Share or unshare your priorities with your team using the <span class="mark-color">/threads priority share</span> or /threads priority unshare</span> commands.'
            },{
                'number': '5',
                'text': 'Invite <span class="mark-color">@threads</span> to a new private channel to pull in your email and enable snippet and attachment sharing with your team.'
            }]
        }).--page-pebble
        //- +e('img')(src='/images/inhtml/arm.svg', alt='').arm
        //- +e('img')(src='/images/inhtml/grid.svg', alt='').grid