//- ====================
//- aurinko: main
//- 09-04-2020: sashakasha
//- --------------------
//- Privacy Policy
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'privacy-policy';
    - var aurinko = true;

//- Модифицируем head
block head
    - var pageTitle = 'Privacy Policy';
    link(rel="apple-touch-icon" sizes="76x76" href=".././images/favicon/aurinko/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href=".././images/favicon/aurink/ofavicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href=".././images/favicon/aurinko/favicon-16x16.png")
    link(rel="manifest" href=".././images/favicon/aurinko/site.webmanifest")
    link(rel="mask-icon" href=".././images/favicon/aurinko/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="theme-color" content="#ffffff")
    title Privacy Policy | Aurinko
    meta(name="description" content="Your use of Aurinko products and services are provided by Yoxel Inc. pursuant to this Privacy Policy.")
//- Выводим content
block content
    +b.content.--aur
        +e.image-wrapper
            +e('img').image(src='/images/inhtml/bright.png', alt)
        .b-container
            +e.wrapper
                h1 Privacy&nbsp;Policy
                p <b>Last Updated: 29.09.2020</b>
                p We are committed to respecting the privacy and security of the personal information we collect. This Privacy Policy (“Privacy Policy”) provides important information about our use of personal information and informs you of your rights. Please read this Privacy Policy carefully and let us know if you have any questions, comments, or concerns.
                p By accessing or using the Aurinko Site or Services, as defined below, you acknowledge and agree that you have received and read this Privacy Policy.
                ol
                    li
                        h2 SCOPE
                        p Your use of the Aurinko website (“Site”), platform, API, applications, software, services, and other tools that we may, in our sole discretion, make available to you (collectively, “Services”) is subject to this Privacy Policy. The Aurinko Services are provided by, and you’re contracting with Yoxel, Inc. (“Yoxel,” “we,” “our” or “us”). This Privacy Policy is intended to tell you about how Yoxel collects, uses and shares your personal information when:
                        ul
                            li you visit and/or use our Site with the domain, <a href="https://www.aurinko.io/ ">https://www.aurinko.io/</a> (“Site”);
                            li you signup, login, access, use, or interact with the Services;
                            li you communicate with us;
                            li we market our Services; and
                            li we work with you to offer or enhance our Services.
                    li 
                        h2 WHAT PERSONAL INFORMATION DO WE COLLECT FROM YOU AND HOW IS IT COLLECTED?
                        p Personal information means any information about an individual from which that person may be identified. For example, it may include your name, phone number, email address, or payment information, and in some jurisdictions your Internet Protocol (“IP”) address. Personal information does not include anonymous or aggregate data where the identifiers have been removed. We collect personal information directly from you and indirectly, as described below.
                        ol(class="b-content--aur__upper-alpha")
                            li
                                h3 Information You Provide to Us
                                p We collect information you give us when you use our Services and the Site. For example, when you submit a form on our Site, we may collect your name, email address and the content of the communication. When you contact us regarding troubleshooting, we may collect your name, email address, phone number and company name.
                            li
                                h3 Information Collected Indirectly
                                p We and our authorized third-party service providers collect certain information by automated means using cookies and other tracking technologies. The information we collect in this manner enables us to better understand the pages or content you view, your searches, Site traffic patterns and to optimize user experience. For more information on our use of these technologies, please visit the Cookies and Other Tracking Technologies We Use section below. 
                            li
                                h3 Information Collected from Service Providers
                                p Our service providers may share with us the following personal information:
                            li   
                                h3 Information from third parties who perform business services for us, such as Site information from third parties that assist us in running our Site and transactional data from our third-party payment service providers; and
                                p Marketing data that we use to find new leads, increase our customer base and optimize conversion rates. 
                            li    
                                h3 Information Collected from Third Parties
                                p In using our Services, we may also collect personal information from third parties whose API is integrated into our Services, such as Salesforce.com, Slack, Google and Microsoft. We process this personal information only to provide you with the Services that you have requested.
                            li    
                                h3 What if You Do Not Provide Information?
                                p Some personal information is necessary so that we can provide you with the Services you have requested and to use our Site. Failure or refusal to provide this information may prevent us from providing you with access to our Services and/or Site. 

                    li 
                        h2 COOKIES AND OTHER TRACKING TECHNOLOGIES WE USE
                        p Cookies are small text files that are set by our Site or by third parties that provide content or features on our Site and are stored on your computer or mobile device. You can find more information about cookies at: www.allaboutcookies.org or www.youronlinechoices.eu.
                        p In addition to cookies, we may use other technologies that are similar in function to cookies, such as web beacons, or “clear gifs,” single-pixel tags, or web tags. Web beacons are tiny graphics with a unique identifier placed in an email that gather information about your interaction with emails. Because of their small size, web beacons are not visible. We’ll use the term cookie throughout this Privacy Policy to cover all of these technologies.

                        ol(class="b-content--aur__upper-alpha")
                            li
                                h3 Types of Cookies
                                p Cookies can be described by who created and placed them and how long they last. Cookies are often identified by their types, which include the following:
                                p <i>Persistent cookies and session cookies:</i>
                                ul
                                    li
                                        p <b>Persistent Cookies:</b> A persistent cookie stays in your browser and will be read by us when you return. A persistent cookie helps us recognize you as an existing user. 
                                    li  
                                        p <b>Session Cookies: </b> A session cookie is temporary and enables you to move from page to page on our Site. A session cookie is deleted when you close your browser or after a short period of time.
                                        p <i>First party cookies and third-party cookies:</i>
                                    li
                                        p <b>First-party cookies: </b>These are cookies set by the website or online service you are visiting, either by us, or by a third party at our request.
                                    li
                                        p <b>Third-party cookies: </b>These are cookies that are set by a party other than that of the website you are visiting. Please note that we do not control the collection or further use of data by third parties.
                            li
                                h3 What Information Do Cookies Collect?
                                p Cookies collect different types of information depending on the type of cookie and its purpose. Some examples of information that may be collected by cookies when you use our Site include:
                                ul
                                    li the pages you visit within the Site;
                                    li the buttons you click on our Site;
                                    li the date and time you visit our Site;
                                    li the amount of time you spend on our Site;
                                    li the IP address used to connect your computer to the Internet; and
                                    li your computer and connection information such as your browser type and version, operating system and platform.
                            li
                                h3 Cookies We Use and For What Purposes
                                p We, or our service providers acting on our behalf, use the following persistent and session cookies on our Site:
                                ul
                                    li
                                        p <b>Strictly Necessary Cookies: </b> These cookies are essential because they enable our Site to work and they cannot be disabled. Without these cookies, some of the functionality on our Site cannot be provided. These cookies do not gather information about you for marketing purposes. For example, these cookies are used to:
                                        ul
                                            li Remember information that you fill in when performing certain activities on the Site;
                                            li Pass information from one page to the next, for example when filling out forms;
                                            li Read your browser and device settings to optimize the display of the Site;
                                            li Locate and identify misuse of the Services;
                                            li Load the Site uniformly to maintain accessibility; and
                                            li Prevent fraud.
                                    li 
                                        p <b>Performance or Analytics Cookies:</b> These cookies help us understand how the Site is being accessed, used, or performing, such as the frequency and duration of use of the Site. These analytics cookies may collect information about the content you view, what websites you visit immediately prior to and after visiting our Site, and your system and geographic information. The information generated by these cookies will be transmitted to and stored by the applicable analytics services.
                                        p One type of analytics cookie we may use is Google Analytics, a web analytics service provided by Google. For more information on the privacy practices of Google, please visit the Google Privacy Policy: <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a>. Please see the “Your Choices” section below for a link to opt out of Google Analytics. Google Analytics cookies are used to:
                                        ul
                                            li Maintain and continually improve the Services;
                                            li Keep track of the number of visitors to the pages within the Site;
                                            li Keep track of the length of time that each visitor spends on the pages within the Site;
                                            li Determine the order in which a visitor visits the various pages within the Site;
                                            li Determine the website a visitor was at before navigating to the Site and the website a visitor is going to immediately after leaving our Site;
                                            li Identify performance issues with the Services;
                                            li Assess which parts of the Site need improvement; and
                                            li See how successfol our marketing campaigns or other Site goals are.
                            li
                                h3 Your Choices
                                p You can exercise your preferences in relation to cookies served on our Site by taking the steps outlined below. To learn more about cookies, including how to manage cookies and opt-out of cookies being placed on your device, please visit <a href="http://www.allaboutcookies.org/manage-cookies/index.html">http://www.allaboutcookies.org/manage-cookies/index.html</a>.
                                p <u>Browser Settings</u>
                                p   To manage your cookie preferences, you may alter the cookie settings in your browser settings at any time. You may accept all, or certain, cookies. If you do disable cookies in your browser settings, you may find that certain sections of the Site will not work.
                                ul
                                    li
                                        p <b>First-Party Cookies:</b> First-Party Cookies: If you do not want cookies placed on your computer or mobile device, you can adjust the setting of your Internet browser to reject some or all cookies and to alert you when a cookie is placed on your device. To do this, follow the instructions provided by your browser (usually located within the “Help”, “Tools” or “Edit” settings). While adjusting your browser setting can prevent the future placement of cookies, it does not remove existing persistent cookies. 
                                    li   
                                        p <b>Third-Party Cookies: </b> Modern browsers also allow you to block third-party cookies using the steps described above for first-party cookies.
                                p <u>Preferences Tools</u>
                                p Below please find additional services that can assist you with managing your cookie preferences.
                                ul
                                    li
                                        p <b>Google Analytics:</b> You can prevent your information from being used by Google Analytics by downloading and installing the Google Analytics Opt-out Browser Add-on, available at <a href="https://tools.google.com/dlpage/gaoptout/">https://tools.google.com/dlpage/gaoptout/</a>.
                                    li
                                        p <b>Web Beacons:</b> You may avoid web beacons by configuring your email account to disable the functionality that enables remote images to load and by refraining from clicking on any links in email messages.
                                    li
                                        p <b>Do Not Track: </b> You may turn on the Do Not Track (“DNT”) setting in your browser, which will enable your browser to send a special signal to websites, analytics companies, plug in providers and other web services you encounter while browsing to stop tracking your activity. To turn on your DNT signal, please visit <a href="https://allaboutdnt.com/#adjust-settings">https://allaboutdnt.com/#adjust-settings</a>. Please note that not all companies will respond to or honor DNT signals. Note that we do not respond to the DNT signals..
                    li 
                        h2 WHY WE COLLECT YOUR PERSONAL INFORMATION AND HOW WE USE IT
                        p Our goal is to perform our Services with high quality and to provide you with a great experience. We, or our authorized third-party service providers and/or partners who assist us in providing the Site and/or Services, process your personal information for the following reasons:
                        ul
                            li To provide and operate the Site and Services;
                            li To update, improve, and/or enhance our Site and Services;
                            li To provide technical support for and protect our Site and Services;
                            li To conduct analytics related to our Site and Services;
                            li To facilitate your payments and fees relating to our Services;
                            li To respond to your inquiries and requests, or otherwise communicate with you or provide you with assistance;
                            li To provide updates about our Services;
                            li To provide information to regolatory bodies when legally required (See “Disclosure of Personal Information” below); and
                            li To keep you updated about changes to policies relating to our Services and Site (including this Privacy Policy).
                    li  
                        h2 DISCLOSURE OF YOUR PERSONAL INFORMATION
                        p Aside from disclosing your information to those of our personnel who are authorized to process the information in order to provide our Services and run our Site, we disclose your personal information only to the third parties and for the reasons indicated below.
                        ol(class="b-content--aur__upper-alpha")
                            li
                                p <b>Service Providers</b>
                                p We share personal information with our third-party service providers that assist us in running our Site, Services and business operations. These service providers may provide services to us, for us, and/or on our behalf. Depending on how you use the Site and/or Services, the following categories of service providers collect or receive personal information from us or on our behalf: 
                                ul
                                    li Analytics providers;
                                    li Marketing partners;
                                    li Payment service providers;
                                    li Testing services providers; 
                                    li Customer support providers;
                                    li Information technology, software development and related infrastructure providers;
                                    li Providers of business operations and communication tools; and
                                    li Other third-party service providers that help us provide the Services and the Site.
                            li
                                h3 Third Parties
                                p If you choose to use our Services, we will share your personal information with third parties whose API is integrated into our Services, such as Salesforce.com, Slack, Google and Microsoft. We share this information to be able to provide you our Services and support. These third parties may use your personal information to operate their services and for their own purposes.
                            li
                                h3 Business Transfers
                                p We may also share personal information with third parties whom we choose to acquire, or to whom we choose to sell, transfer, or merge parts of our business or our assets. If we are involved in a merger or acquisition, financing due diligence, reorganization, bankruptcy, receivership, sale of company assets, or transition of service to another provider your personal information may transfer as permitted by law and/or contract.
                            li
                                h3 Legal Obligations
                                p 	We may also share personal information with third parties whom we choose to acquire, or to whom we choose to sell, transfer, or merge parts of our business or our assets. If we are involved in a merger or acquisition, financing due diligence, reorganization, bankruptcy, receivership, sale of company assets, or transition of service to another provider your personal information may transfer as permitted by law and/or contract.
                            li
                                h3 With Your Consent
                                p 	There may be situations where you are asked to consent to share personal information with third parties for additional reasons not included in this Privacy Policy. We will only share your personal information with these third parties if you consent to such sharing.
                   
                    li 
                        h2 MARKETING PREFERENCES
                        p From time to time, we may use your personal information to send you information about product and service offerings that may be of interest to you. If you no longer want to receive marketing emails from us in the future, you may opt-out by using the unsubscribe link that we include at the bottom of each marketing email. You can also manage your marketing preferences by contacting us. 
                    li 
                        h2 PROCESSING
                        p We do not directly collect your payment information and does not store your payment information. We use third-party tools, such as Stripe, which collect the payment information on our behalf to complete the transactions. 
                    li 
                        h2 THIRD-PARTY LINKS
                        p On the Site, we may provide, for informational purposes only, links to other websites or resources with which we do not have a contractual relationship and over which we do not have control (“External Websites”). Such links are not paid advertisements, nor do they constitute an endorsement by us of those External Websites and are provided to you only as a convenience. By clicking on links to the External Websites, the operators of the External Websites may collect your personal information. We are not responsible for the content or data collection practices of those External Websites, and your use of External Websites is subject to their respective terms of use and privacy policies.
                    li 
                        h2 PROTECTING YOUR PERSONAL INFORMATION
                        p We have put in place reasonable and appropriate security measures designed to prevent personal information from being lost, used or accessed in an unauthorized way, altered or disclosed. For example, we use encryption, secure socket layer and password protection.
                        p However, no method of transmission over the Internet, or method of electronic storage, is 100% secure, and we cannot and do not guarantee that personal information is completely secure and safe from such risks. By using the Site and/or Services, you understand and assume the risks associated with your activities on the Internet. If you have reason to believe that your information is no longer secure, please let us know by contacting us.
                    li
                        h2 HOW LONG DO WE KEEP YOUR PERSONAL INFORMATION?
                        p We retain personal information for the purposes stated in this Privacy Policy. To determine how long we keep personal information we consider the amount, nature and sensitivity of personal information, the reasons for which we collect and process the information and applicable legal requirements.
                    li 
                        h2 ACCESS AND MODIFICATION OF YOUR PERSONAL INFORMATION
                        p All users who have shared their personal information directly with us through our Site, Services or authorized service providers that we work with may contact us to review, update or correct their personal information that we have on file. For questions about your personal information that we hold about you, please contact us at compliance@aurinko.io. We will respond to reasonable inquiries without undue delay. Before we can act on your requests, to ensure the security of your account, we may ask you to verify your identify.
                    li 
                        h2 CHILDREN’S PRIVACY
                        p Our Services are not intended for children under 18 years of age, and we do not knowingly collect personally identifiable information from children under the age of 18. If you are under the age of 18, please do not use the Services or provide any personal information. If you are a parent or guardian and you learn your child has provided us with personal information, please contact us. If we learn we have collected or received personal information about a child under the age of 18 without verification of parental consent, we will delete that information.
                    li 
                        h2 CHANGES TO THIS PRIVACY POLICY
                        p We may need to update this Privacy Policy from time to time. If so, we will post an updated Privacy Policy on this Site. If we make material changes, we will post a change notice on the Site. We may also send our users a notice that this Privacy Policy has been changed to the email account we have on file. We encourage you to review this Privacy Policy regolarly for any changes. Your continued use of the Site and/or Services and/or your continued provision of personal information to us after the posting of an updated Privacy Policy and/or any such update notice will be subject to the terms of the then-current Privacy Policy.
                    li 
                        h2 CONTACT US
                        p If you have any questions about this Privacy Policy or our privacy practices, please contact us by email at: compliance@aurinko.io.

                                        
